extends ../_helpers/layout.pug

block params
  - title = "Animales perdides y encontrades de la ciudad"
  - description = "Una herramienta para ayudar a las familias de la ciudad a reencontrarse con sus miembros perdidos"

block content
  #app(data-app="FamilyRecovery")
