extends ../_helpers/layout.pug

block params
  - title = "Kinto Storage experimentation app"
  - description = "App built to experiment with Kinto Storage"

block content
  #app(data-app="KintoStorage")
