extends _helpers/layout.pug

block params
  - title = "Santuario"
  - description = "An open ecosystem of apps for earthlings"

block content
  .flex.flex-col.bg-gray-100.min-h-full.text-gray-700
    h1.text-5xl.p-4.text-center.font-semibold Santuario
    p.text-center.-mt-2.mb-4.italic An open ecosystem of apps for earthlings

    main.flex-grow.container.mx-auto.max-w-lg.p-4.flex.flex-col.text-center
      h2.mb-4.text-3xl.font-light Tools
      +btn("/perdides", "Animales perdides y encontrades (Work in progress)")
      +btn("/agora", "Mercado comunitario (Work in progress)")
      h2.mb-4.text-3xl.font-light Experiments
      +btn("/metacards", "Meta tarjetas #1")
      +btn("/kinto-storage", "Kinto Storage backend")
      //- +btn("/metacards2", "Meta tarjetas #2")
      h2.mb-4.text-3xl.font-light Proyect Info
      +btn("/mission", "Mission")
      +btn("https://github.com/Zequez/santuario", "Source code on Github", "_blank")
      +btn("https://www.notion.so/Santuario-dddb4aa02d4b479d9f6b95cebb2a464f", "Planification platform", "_blank")
