---
layout: layout.njk
title: Santuario
script: index
---

mixin btn(href, text)
  a.bg-white.bg-opacity-25.px-4.py-2.mb-4.w-full.text-center.rounded-md(href=href)= text

.flex.flex-col.h-full.text-white.items-center
  header.h-16.text-white.text-4xl.tracking-wider.flex.items-center.justify-center.bg-white.bg-opacity-25.w-full
    | Santuario
  main.flex.flex-col.items-center.justify-center.flex-grow.text-xl.max-w-md
    +btn("/perdides", "Animales perdides y encontrades")
    +btn("https://github.com/Zequez/santuario", "Información del proyecto")
