include ./mixins.pug

block params

doctype html
html(lang="en" class="h-full")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content=description)
    link(rel="stylesheet" type="text/css" href="/dist/index.css")
    link(rel="icon" type="image/png" href="/favicon.png")
    title= title
    if env === "development"
      script(src="https://unpkg.com/elm-debug-transformer@1.1.2/dist/elm-console-debug.js")
      script.
        ElmConsoleDebug.register()
  body(class="h-full")
    block content
    script(type="module" src=`/dist/index.js`)
