extends ../_helpers/layout.pug

block params
  - title = "Mission - Santuario"
  - description = "Santuario is meant to be an open ecosystem of apps for communities"

block content
  .flex.flex-col.bg-gray-100.min-h-full
    +header()
    +middleBar("")

    main.flex-grow.container.mx-auto.pt-4
      .text-sm.font-light.opacity-90.max-w-lg.mx-auto
        p.mb-2
          | As we collectively awaken to new levels consciousness, the tools of
          | competition that served us, no longer work for our interconnected communities.
        p.mb-2
          | The tools that we need are owned by no one, and serve everyone.
        p.mb-2
          | The tools that we need are built in a mindset of cooperation rather than of competition.
        p.mb-2
          | There are many existing tools that can be used by our organizations and communities
          | to help us in our missions. Often, the knowledge of these tools is behind technical,
          | cultural and language barriers.
        p.mb-2
          | The mission of Santuario is to serve everyone with tools of cooperation.
          | We experiment with and review tools to discover new ways of using
          | technology to play, work and learn together.
