<!DOCTYPE html>
<html lang="en" class="h-full bg-green-600">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Elm with Snowpack" />
    <link rel="stylesheet" type="text/css" href="/dist/index.css" />
    <link rel="icon" type="image/png" href="/favicon.png">

    <title>{{title}}</title>
  </head>
  <body class="h-full">
    {{content | safe}}
    <script type="module" src="/dist/{{script}}.js"></script>
  </body>
</html>
