extends ../_helpers/layout.pug

block params
  - title = "Gestor de turnos"
  - description = "Aplicación para gestionar turnos para emprendedorxs independientes"
  - script = "Turnos/init"

block content
  #app
