extends ../_helpers/layout.pug

block params
  - title = "Gestor de turnos"
  - description = "Aplicación para gestionar turnos para emprendedorxs independientes"

block content
  #app(data-app="Turnos")
