extends ../_helpers/layout.pug

block params
  - title = "Experiment with meta-cards"
  - description = "Just an idea I wanted to test of how to organize information freely"

block content
  #app(data-app="MetaCards")
